body {
    background-color: #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
}

div.elem_init {
    background-color: #66ccff;
    border-top-style: solid;
    border-top-width: 2px;
    padding: 3px;
}

div.elem0 {
    background-color: #ff9966;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 3px;
}

div.elem1 {
    background-color: #99ff99;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 3px;
}

div.elem2 {
    background-color: #ff99ff;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 3px;
}


#recipe_separator {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 1%;
}

#menu {
    border-width: 5px;
    border-style: double;
    margin-right: 10%;
    float: left;
    position:absolute;
}

#recipes {
    background-color: #ffddcc;
    border-radius: 15px;
    border: 2px solid #000000;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 10;
    margin-top: 15px;
    margin-left: 22%;
    margin-right: 4%;
    padding-right: 4%;
}

#menu_pres {
    padding: 1px 3px 1px 3px;
}

#research_bar {
    background-color: #ffccaa;
    display: inline-block;
    width: 40%;
    padding : 1%;
    box-shadow: 4px 5px black;
    border-radius: 4px;
}

#session_bar {
    background-color: #aaccff;
    display: inline-block;
    position: relative;
    float: right;
    z-index: 10000;
    width: 25%;
    padding: 0.8% 1% 1% 1%;
    box-shadow: 4px 5px black;
    border-radius: 4px;
    text-align: right;
}

#user_recipes_list {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}